.flexRowCenter {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 1rem;
}

.myBox {
  margin-bottom: 0.625rem;
  margin-right: 0.625rem;
}
.typography-item{
  margin-right: 1rem;
}
.data-state{
  text-align: center;
  margin-top: 1.25rem;
}

.modal-button-actions{
  margin-bottom: 0.625rem;
  margin-right: 0.625rem;
}

.page-box{
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.page-container-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.table-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  padding-top: 1.25rem;
}